.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.dropdownMain {
    display: flex;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 2%;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%
}

.title {
    margin-left: 3%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    margin-top: 2%;
}

.header2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5%;
    width: 98%;
    margin-left: 3%;
    justify-content: first baseline;
}

.subTitle {
    font-size: 1.25rem;
    color: #43425D;
    font-weight: bold;
    border-bottom: 0.1rem solid #43425D;
    padding-bottom: 1%;
    margin-right: 2%;
}

.dropdown2 {
    margin-left: 34%;
}

.date {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.label {
    color: #43425D;
    font: SF Pro Text;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    box-shadow: 0px 2px 6px #0000000A;
    border-radius: 4px;
}

.header {
    font-size: x-large;
    font-weight: bold;
}

.detailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* font-size: x-large; */
    font-weight: bold;
    color: #4D4F5C;
    margin-left: 2%;
    font: Semibold 22px/28px Source Sans Pro;
    margin-top: 0px;
}

.raised {
    border: 1px solid #77aaff;
    box-shadow: -1px 1px #77aaff, -2px 2px #77aaff, -3px 3px #77aaff, -4px 4px #77aaff, -5px 5px #77aaff;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.final {
    margin-left: 85%;
    display: flex;
    flex-direction: row;
}

.finale {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 7%;
    margin-bottom: 2%;
}

.trackingDiv {
    background-color: white;
    width: 100%;
    margin-left: 2%;
    margin-top: 1.5%;
    padding: 0 1.5%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}