.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.header {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: flex-end;
}

.dropdownMain {
    display: flex;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 2%;
    align-items: flex-end;
    justify-content: flex-end;
}

.title {
    margin-left: 1.5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 26px;
    margin-top: 2%;
}

.header2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 5%;
    width: 100%;
    margin-right: 3%;
    justify-content: space-around;
    justify-items: flex-end;
}

.subTitle {
    font-size: 22px;
    color: #43425D;
    font-weight: bold;
    border-bottom: 0.1rem solid #43425D;
    padding-bottom: 1%;
    margin-left: 2%;
    white-space: nowrap;
    justify-content: flex-start;
}

.dropdown2 {
    margin-left: 25%;
}

.date {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.label {
    color: #43425D;
    font-size: medium;
    text-align: center;
    white-space: nowrap;
}

.cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 1;
    margin-top: 5%;
    margin-left: 1%;
}

.final {
    margin-left: 85%;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .cards {
        width: 100%;
    }
    .dropdown2 {
        margin-left: 20%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cards {
        width: 100%;
    }
    .dropdown2 {
        margin-left: 10%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cards {
        width: 100%;
    }
    .dropdown2 {
        margin-left: 10%;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .cards {
        width: 100%;
    }
    .dropdown2 {
        margin-left: 10%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .cards {
        width: 100%;
    }
    .dropdown2 {
        margin-left: 5%;
    }
}