.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-weight: 100;
    color: #43425D;
    opacity: 50%;
}

.details {
    height: 50%;
    display: flex;
    padding-top: 10%;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    font-size: larger;
    font-weight: bolder;
    color: #4D4F5C;
    opacity: 1;
    font: Bold 25px/32px Source Sans Pro;
    font-size: 25px;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}