.main {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.title {
    margin-left: 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    color: #43425D;
}

.grid {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 0vw;
    margin-right: 5%;
}

.titleAndSearch {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.searchAndButton {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.searchBar {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.paginationDiv {
    margin-top: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 6%;
}

@media only screen and (min-width: 1441px) {
    .titleAndSearch {
        padding-right: 4.5%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .titleAndSearch {
        padding-right: 1.7%;
    }
    .paginationDiv {
        margin-top: 2%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .grid {
        margin-right: 2%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .titleAndSearch {
        padding-right: 4.5%;
    }
    .paginationDiv {
        margin-top: 2%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .searchAndButton {
        width: 70%;
    }
    .grid {
        margin-right: 5%;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
    .paginationDiv {
        margin-top: 2%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .searchAndButton {
        width: 70%;
    }
    .grid {
        margin-right: 5%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
    .paginationDiv {
        margin-top: 2%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .searchAndButton {
        width: 70%;
    }
    .grid {
        margin-right: 5%;
    }
}

.modalContainer {
    max-height: 20vw;
}