.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    box-shadow: 0px 2px 6px #0000000A;
    border-radius: 4px;
}

.header {
    font-size: x-large;
    font-weight: bold;
}

.detailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* font-size: x-large; */
    font-weight: bold;
    color: #4D4F5C;
    margin-left: 2%;
    font: Semibold 22px/28px Source Sans Pro;
    margin-top: 0px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}