.formDiv {
  background-color: white;
  padding-bottom: 2%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.row1 {
  display: flex;
  padding: 2% 0;
  flex-direction: row;
  justify-content: space-around;
}
.lastFormElement {
  font-size: xx-large;
  font-weight: bolder;
}
.checked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 375px) {
  .label {
    font-size: xx-small;
  }
  .lastFormElement {
    padding-left: 20%;
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .label {
    font-size: x-small;
  }
  .lastFormElement {
    padding-left: 10%;
  }
}
