.left{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_main{
    display: block;
}
.logo{
    display: flex;
    padding: 15%;
    align-items: center;
}
.login_text{
    padding-bottom: 5%;
    font-size: xx-large;
    text-align: center;
}
.login_desc{
    text-align: center;
    padding-bottom: 5%;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
.image1 {
    position: relative;
    padding-left: 5%;
    top: 0;
    left: 0;
    height: 100%;
    width:102.5%;
    object-fit: fill;
    overflow: hidden;
  }
.image2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow-x:hidden;
  }
.links{
    position: absolute;
    height: 100%;
    display: block;
    padding-left: 3%;
    padding-top: 45%;
    top: 0;
    left:0;
    display: block;
}
.innerlinks{
    width: 100%;
    margin: 20%;
}