.main {
    background-color: #f7f7f5;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.title {
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: x-large;
    color: #43425D;
}

.innerDiv {
    margin: 2% 0;
    background-color: #F0F2F8;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.tableDiv {
    background-color: white;
    margin-left: 2%;
    margin-top: 1.5%;
    padding: 0 1.5%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.searchText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDownDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.searchBarDiv {
    padding: 1% 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.searchAndDrop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttonAndFilter {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;
}

@media (min-width: 1441px) and (max-width: 2560px) {
    .searchAndDrop {
        width: 40%;
    }
    .dropDownDiv {
        width: 80%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .searchAndDrop {
        width: 50%;
    }
    .dropDownDiv {
        width: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .searchAndDrop {
        width: 70%;
    }
    .dropDownDiv {
        width: 80%;
    }
}